<!DOCTYPE html>
<html ng-app="arcApp" lang="en">

<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--  jquery -->
	<script src="../practice/WEB-INF/JS/jquery.min.js"></script>

	<!-- angular -->
	<script src="../practice/WEB-INF/JS/angular.min.js"></script>
	<script src="../practice/WEB-INF/JS/angular-animate.min.js"></script>
	<script src="../practice/WEB-INF/JS/angular-sanitize.js"></script>

	<!-- angularJS-->
	<link rel="stylesheet" href="../practice/WEB-INF/CSS/nv.d3.min.css">
	<script src="../practice/WEB-INF/JS/d3.min.js" type="text/javascript"></script>
	<script src="../practice/WEB-INF/JS/nv.d3.min.js" type="text/javascript"></script>
	<script src="../practice/WEB-INF/JS/angular-nvd3.min.js" type="text/javascript"></script>

	<!-- angularJS + ngStorage  -->
	<script src="../practice/WEB-INF/JS/ngStorage.min.js" type="text/javascript"></script>

	<!--  bootstrap -->
	<script src="../practice/WEB-INF/JS/bootstrap.bundle.min.js"></script>
	<!--  <script src="../webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" href="../practice/WEB-INF/CSS/bootstrap.min.css">
	<script src="../practice/WEB-INF/JS/ui-bootstrap.js"></script>
	<script src="../practice/WEB-INF/JS/ui-bootstrap-tpls.js"></script>

	<!--  css -->
	<script type="text/javascript" src="angularJS.css"></script>

	<!-- js -->
	<script type="text/javascript" src="arc.js"></script>


	<title>angularJS框架測試</title>
</head>

<body>
	<div class="wrapper" ng-controller="arc" ng-cloak>
		<div class="container">
			<div class="row">
				<h1 class="col text-center">ARC計算機</h1>
			</div>
			<div class="row justify-content-center ">
				<button type="button" class="btn btn-info" ng-click="max()">選項最大化</button>
				<button type="button" class="btn btn-info" ng-click="min()">選項最小化</button>
			</div>
			
			<table class="table table-bordered table-striped">
				<tr>
					<td>地區</td>
					<td>每日任務獲得量</td>
					<td>每周小遊戲獲得量</td>
					<td>每周總計</td>
					<td>目前等級</td>
					<td>離滿等所需天數(日)</td>
				</tr>
				<tr>
					<td>消逝的旅途</td>
					<td><select ng-model="inputVO.dailyAreaOne" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 19">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaOne" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaOne" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaOne" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaOne" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaOne * 7) + (inputVO.weeklyAreaOne * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaOne" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaOne" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaOne]}}</td>
					<td>{{inputVO.needTimeAreaOne | number:1}}</td>	
				</tr>
				<tr>
					<td>啾啾艾爾蘭</td>
					<td><select ng-model="inputVO.dailyAreaTwo" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 19">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaTwo" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaTwo" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaTwo" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaTwo" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaTwo * 7) + (inputVO.weeklyAreaTwo * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaTwo" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaTwo" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaTwo]}}</td>
					<td>{{inputVO.needTimeAreaTwo | number:1}}</td>	
				</tr>
				<tr>
					<td>拉契爾恩</td>
					<td><select ng-model="inputVO.dailyAreaThree" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 12">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaThree" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaThree" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaThree" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaThree" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaThree * 7) + (inputVO.weeklyAreaThree * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaThree" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaThree" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaThree]}}</td>
					<td>{{inputVO.needTimeAreaThree | number:1}}</td>	
				</tr>
				<tr>
					<td>阿爾卡娜</td>
					<td><select ng-model="inputVO.dailyAreaFour" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 10">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaFour" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaFour" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaFour" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaFour" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaFour * 7) + (inputVO.weeklyAreaFour * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaFour" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaFour" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaFour]}}</td>
					<td>{{inputVO.needTimeAreaFour | number:1}}</td>	
				</tr>
				<tr>
					<td>賽菈斯</td>
					<td><select ng-model="inputVO.dailyAreaFive" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 9">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaFive" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaFive" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaFive" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaFive" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaFive * 7) + (inputVO.weeklyAreaFive * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaFive" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaFive" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaFive]}}</td>
					<td>{{inputVO.needTimeAreaFive | number:1}}</td>	
				</tr>
				<tr>
					<td>艾斯佩拉</td>
					<td><select ng-model="inputVO.dailyAreaSix" ng-change="needTime()">
						<option value="">-- 請選擇 --</option>
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 9">{{option.number}}</option>
						</select>
					</td>
					<td><input type="radio" ng-model="inputVO.weeklyAreaSix" value="0" ng-change="needTime()">0
						<input type="radio" ng-model="inputVO.weeklyAreaSix" value="15" ng-change="needTime()">15
						<input type="radio" ng-model="inputVO.weeklyAreaSix" value="30" ng-change="needTime()">30
						<input type="radio" ng-model="inputVO.weeklyAreaSix" value="45" ng-change="needTime()">45</td>
					<td>{{(inputVO.dailyAreaSix * 7) + (inputVO.weeklyAreaSix * 1)}}</td>
					<td>等級:<select ng-model="inputVO.currentLevelAreaSix" ng-change="needTime()">
						 <option ng-repeat="option in selectOption" value="{{option.number}}" ng-if="option.number < 21 && option.number != 0 ">{{option.number}}</option>
						</select>
						目前數量:<input type="text" name="input" ng-model="inputVO.currentLevelArcNumberAreaSix" ng-maxlength = "5" ng-change="needTime()">/{{arcExp[inputVO.currentLevelAreaSix]}}</td>
					<td>{{inputVO.needTimeAreaSix | number:1}}</td>	
				</tr>
			</table>
		</div>
</body>

</html>